@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Yanone+Kaffeesatz:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Montserrat:wght@400;700&family=Yanone+Kaffeesatz:wght@300;400&display=swap");
/* Ffuentes: 
font-family: 'Dancing Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
    font-family: Montserrat;
 */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  background: black;
  min-width: 300px;
  color: white;
  display: grid;
  grid-template-columns: repeat(1);
  grid-template-areas: "navGrid" "gridGaleria" "menusgrid" "gNosotros" "formReserva" "fotoInicio" "pInicio" "menuindex" "footer"; }

/******************************* gridInicio *******************************/
.gridmenus {
  grid-area: menusgrid; }

/******************************* gridInicio *******************************/
.galeriaFotos {
  background-color: #c2c2c2;
  width: 100%; }

.navGrid {
  grid-area: navGrid; }

.inicioGrid {
  grid-area: fotoInicio; }

.parrafoIniciogrid {
  grid-area: pInicio; }

.menuIndexg {
  grid-area: menuindex; }

/******************************* gridReservas*******************************/
.gridReservas {
  display: grid;
  grid-area: formReserva; }

/******************************* gridGalerias*******************************/
.gridGaleria {
  display: grid; }

.bg-dark {
  --bs-bg-opacity: 0;
  background-color: #000000; }

.logo {
  width: 130px !important;
  height: 68px !important; }

.divHeader {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle; }

.navboostrap {
  color: white; }

.testnav {
  float: left;
  margin: 0;
  left: 56%;
  transform: translatex(-53%);
  position: relative;
  align-items: center; }

footer {
  grid-area: footer; }

.footerMargin {
  margin-top: 30px; }

.piePagina {
  width: 100%;
  background-color: #303030; }

.piePagina .grupo1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px; }

.piePagina .grupo1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.piePagina .grupo1 .box figure img {
  width: 250px; }

.piePagina .grupo1 .box h2 {
  color: white;
  margin-bottom: 25px;
  font-size: 20px; }

.piePagina .grupo1 .box p {
  color: white;
  margin-bottom: 10px; }

.piePagina .grupo1 .redSocial a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: white;
  margin-right: 10px;
  text-align: center;
  transition: all 300ms ease; }

.piePagina .grupo1 .redSocial a:hover {
  color: black; }

.piePagina .grupo2 {
  text-align: center;
  padding: 15px 10px; }

.piePagina .grupo2 small {
  font-size: 15px; }

.footerReserva {
  color: white; }

.footerReserva:hover {
  color: black; }

/* 1ยบ */
.carruselBst {
  height: 87vh; }

/* 2ยบ */
.fotoParrafo {
  width: 50vw;
  height: 430px;
  object-fit: cover;
  margin-left: 10px; }

.parrafoindex {
  text-align: center;
  margin-top: 5%; }

.h1Index {
  margin-top: 12%;
  color: white; }

.containerParrafo {
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  margin-left: 5px;
  right: 2px;
  color: white; }

.parrafoIndex {
  width: auto;
  height: auto;
  display: flex;
  text-align: center;
  background-color: #303030;
  margin-top: 1vh; }

/* 3ยบ */
.menuIndex {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  background-image: url("../images/maderas.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 20vh;
  margin-top: 1vh; }

.links {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  padding: 1%; }
  .links:hover {
    color: #acacac;
    text-shadow: 1px 1px #000000; }

.fotos {
  align-items: center;
  margin: 0 auto;
  border: #303030 solid 1px;
  border-radius: 5px; }

.containerGaleria {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-around; }

.h1Galeria, .h2Recetas {
  text-align: center; }

.bgGaleria {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: #272829 1px solid;
  width: 100%;
  height: 150px; }

/******************************* Fomulario contacto *******************************/
.containerForm, .reservasForm {
  display: flex;
  justify-content: center;
  background-color: #303030;
  padding: 0 auto;
  margin-right: 15%;
  margin-left: 15%;
  border: #f0f0f0 solid 1px;
  border-radius: 5px;
  opacity: 90%; }

.h1Contactanos {
  color: white;
  text-align: center; }

/******************************* Fomulario reserva*******************************/
.stiloForm {
  width: 100%;
  height: 40px; }

.txtArea {
  width: 100%;
  height: 20vh; }

.h1reservas {
  color: white;
  text-align: center; }

.divbotones {
  display: flex;
  justify-content: center; }

.botonerForm, .botonSub {
  width: 45%;
  height: 50px;
  margin-left: 10px;
  background-color: #303030;
  color: white;
  transition: background-color .5s; }
  .botonerForm:hover, .botonSub:hover {
    background-color: rgba(139, 138, 138, 0.39); }

/* asssssssssssdddddddddd */
.contenedoresContactanos {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.hijoContactanos1 {
  background-color: #303030;
  width: 55vw;
  height: 500px; }

.contenedorCampos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 13px;
  margin-left: 20px;
  margin-right: 20px; }

form div div textarea {
  height: 200px; }

form div div div {
  display: flex;
  flex-direction: column; }
  form div div div input {
    width: 25vw;
    height: 50px;
    border: none;
    border-bottom: 1px solid #8b8b8b;
    outline: none;
    padding-bottom: 5px; }
  form div div div select {
    width: 25vw;
    height: 50px;
    padding-bottom: 5px;
    border: none;
    outline: none; }

.campoTexto {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px; }

.infoFormulario {
  background-color: #303030;
  width: 35vw;
  border-left: 1px solid white; }

.tablaFormulario {
  font-weight: 600px;
  margin-bottom: 9px;
  margin-left: 1vw;
  border-bottom: 1px solid white; }

tr td:first-child {
  padding-right: 20px; }

tr td {
  padding-top: 20px; }

div.infoFormulario h1 {
  font-weight: bold;
  font-size: 2rem;
  text-align: center; }

.check {
  margin-left: 3vw; }

.camposSub {
  width: 95%;
  height: 50px;
  border: none;
  border-bottom: 1px solid #8b8b8b;
  outline: none;
  padding-bottom: 5px; }

.botonSub {
  margin-top: 5px; }
  .botonSub:hover {
    background-color: rgba(139, 138, 138, 0.39); }

.contenedorSub {
  text-align: center;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.principalContactanos {
  background-color: #303030;
  text-align: center;
  width: 90%;
  margin-left: 5%; }

/* reservas */
.hijoReserva1 {
  background-color: #303030;
  width: 55vw;
  height: 545px; }

.h1Formularios {
  font-weight: bold;
  font-size: 2rem;
  text-align: center; }

.fondoMenu {
  background-image: url(../images/menu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 5em; }

.opcionesMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.158);
  margin-left: 5%;
  margin-right: 5%; }

.menusTitulos {
  font-weight: bold !important;
  text-align: center;
  color: #bc8d4b; }

.menus {
  text-align: center; }

hr {
  margin-left: 15%;
  margin-right: 15%;
  border: #dfdb0a 2px solid; }

.divMenus {
  width: 40%;
  margin-bottom: 5%; }

.menusParrafo {
  font-size: 3rem; }

body > section > div > div > p {
  font-size: 17px; }

.gridNosotros {
  grid-area: gNosotros; }

.fondoFijo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../images/fondofijo1.jfif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 30vh; }

.fondoFijo2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../images/chef.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 60vh; }

.txtNosotros {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.322); }

.pNosotros {
  text-align: center;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.322); }

.contenedorN1padre {
  background-color: #0f0f0f; }

.contenedorN1 {
  margin-top: 5vh;
  margin-left: 10%;
  margin-right: 10%; }

body > section > div:nth-child(2) {
  margin-bottom: 5vh; }

.jello-horizontal {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both; }

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

/* galeria */
figure.snip0016 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  background: #000000;
  text-align: left; }

figure.snip0016 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

figure.snip0016 img {
  max-width: 100%;
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s; }

figure.snip0016 figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 3em;
  width: 100%;
  height: 100%; }

figure.snip0016 figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 100%;
  border-left: 4px solid rgba(255, 255, 255, 0.8);
  content: '';
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s; }

figure.snip0016 h2,
figure.snip0016 p {
  margin: 0 0 5px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s; }

figure.snip0016 h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transform: translate3d(30%, 0%, 0);
  transform: translate3d(30%, 0%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s; }

figure.snip0016 h2 span {
  font-weight: 800; }

figure.snip0016 p {
  font-weight: 200;
  -webkit-transform: translate3d(0%, 30%, 0);
  transform: translate3d(0%, 30%, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }

figure.snip0016 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: #ffffff; }

figure.snip0016:hover img {
  opacity: 0.3; }

figure.snip0016:hover figcaption h2 {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s; }

figure.snip0016:hover figcaption p {
  opacity: 0.9;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s; }

figure.snip0016:hover figcaption::before {
  background: rgba(255, 255, 255, 0);
  left: 30px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }

@media screen and (max-width: 480px) {
  .parrafoIndex {
    flex-direction: column; }
  .fotoParrafo {
    width: 80vw;
    height: 105vh;
    margin: 0 auto; }
  .containerParrafo {
    width: 80vw;
    justify-content: center;
    margin: 0 auto; }
  .h1Index {
    margin-top: 3%; }
  /* reservas */
  .reservasForm {
    margin: 15% auto; }
  .fotoParrafo {
    width: auto;
    height: auto; }
  .containerParrafo {
    width: auto; }
  .containerIniciofoto {
    width: auto;
    height: auto; }
  .containerGaleria {
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .fondoMenu {
    background-image: url(../images/menu576.jpg);
    min-width: none;
    background-size: cover; } }

@media (max-width: 900px) {
  .parrafoIndex {
    flex-direction: column; }
  .fotoParrafo {
    margin-left: 0;
    width: 80%; }
  .fondoMenu {
    background-image: url(../images/menu900.jpg);
    min-width: none; }
  .containerParrafo {
    width: 80%;
    margin-left: 10%; }
  .piePagina .grupo1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px; } }

@media (max-width: 768px) {
  .containerGaleria {
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .opcionesMenu {
    flex-direction: column; }
  .divMenus {
    width: 100%; }
  .fondoMenu {
    background-image: url(../images/menu780.jpg);
    min-width: none; } }

@media (max-width: 850px) {
  .contenedoresContactanos {
    flex-direction: column;
    align-items: center; }
  .hijoContactanos1 {
    width: 90%;
    height: 640px;
    margin-bottom: 10px; }
  .hijoReserva1 {
    width: 90%;
    height: 765px;
    margin-bottom: 10px; }
  .infoFormulario {
    background-color: #303030;
    width: 90%;
    border-left: 1px solid white; }
  .contenedorCampos {
    flex-direction: column; }
  form div div textarea {
    height: 200px; }
  form div div div input {
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 1px solid #8b8b8b;
    outline: none;
    padding-bottom: 5px; }
  form div div div select {
    width: 100%; } }

@media (max-width: 900px) {
  .parrafoIndex {
    flex-direction: column; }
  .fotoParrafo {
    margin-left: 0;
    width: 80%; }
  .fondoMenu {
    background-image: url(../images/menu900.jpg);
    min-width: none; }
  .containerParrafo {
    width: 80%;
    margin-left: 10%; }
  .piePagina .grupo1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px; } }
