@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Yanone+Kaffeesatz:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Montserrat:wght@400;700&family=Yanone+Kaffeesatz:wght@300;400&display=swap");
/* Ffuentes: 
font-family: 'Dancing Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
    font-family: Montserrat;
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  background: black;
  min-width: 300px;
  color: white;
  display: grid;
  grid-template-columns: repeat(1);
  grid-template-areas: "navGrid" "menusgrid" "gNosotros" "formReserva" "fotoInicio" "pInicio" "menuindex" "footer"; }

/******************************* gridInicio *******************************/
.gridmenus {
  grid-area: menusgrid; }

/******************************* gridInicio *******************************/
.galeriaFotos {
  background-color: #c2c2c2;
  width: 100%; }

.navGrid {
  grid-area: navGrid; }

.inicioGrid {
  grid-area: fotoInicio; }

.parrafoIniciogrid {
  grid-area: pInicio; }

.menuIndexg {
  grid-area: menuindex; }

/******************************* gridReservas*******************************/
.gridReservas {
  display: grid;
  grid-area: formReserva; }

/******************************* gridGalerias*******************************/
.gridGaleria {
  display: grid; }

.bg-dark {
  --bs-bg-opacity: 0;
  background-color: #000000; }

.logo {
  width: 130px !important;
  height: 68px !important; }

.divHeader {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle; }

.navboostrap {
  color: white; }

.testnav {
  float: left;
  margin: 0;
  left: 56%;
  transform: translatex(-53%);
  position: relative;
  align-items: center; }

footer {
  align-items: center;
  width: 100%;
  grid-area: footer; }

.divFooter {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%; }

.footerIcon {
  margin: 3vh auto; }

/* 1º */
.carruselBst {
  height: 87vh; }

/* 2º */
.fotoParrafo {
  width: 50vw;
  height: 430px;
  object-fit: cover;
  margin-left: 10px; }

.parrafoindex {
  text-align: center;
  margin-top: 5%; }

.h1Index {
  margin-top: 12%;
  color: white; }

.containerParrafo {
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  margin-left: 5px;
  right: 2px;
  color: white; }

.parrafoIndex {
  width: auto;
  height: auto;
  display: flex;
  text-align: center;
  background-color: #303030;
  margin-top: 1vh; }

/* 3º */
.menuIndex {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  background-image: url("../images/maderas.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 20vh;
  margin-top: 1vh; }

.links {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  padding: 1%; }
  .links:hover {
    color: #acacac;
    text-shadow: 1px 1px #000000; }

.fotos {
  align-items: center;
  margin: 0 auto;
  border: #303030 solid 1px;
  border-radius: 5px; }

.containerGaleria {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-around; }

.h1Galeria {
  text-align: center; }

/******************************* Fomulario contacto *******************************/
.containerForm, .reservasForm {
  display: flex;
  justify-content: center;
  background-color: #303030;
  padding: 0 auto;
  margin-right: 15%;
  margin-left: 15%;
  border: #f0f0f0 solid 1px;
  border-radius: 5px;
  opacity: 90%; }

.h1Contactanos {
  color: white;
  text-align: center; }

/******************************* Fomulario reserva*******************************/
.stiloForm {
  width: 100%;
  height: 40px; }

.txtArea {
  width: 100%;
  height: 20vh; }

.h1reservas {
  color: white;
  text-align: center; }

.divbotones {
  display: flex;
  justify-content: center; }

.botonerForm {
  width: 50%;
  height: 40px; }

.fondoMenu {
  background-image: url(../images/menu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 5em; }

.opcionesMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.158);
  margin-left: 5%;
  margin-right: 5%; }

.menusTitulos {
  font-weight: bold !important;
  text-align: center;
  color: #bc8d4b; }

.menus {
  text-align: center; }

hr {
  margin-left: 15%;
  margin-right: 15%;
  border: #dfdb0a 2px solid; }

.divMenus {
  width: 40%;
  margin-bottom: 5%; }

.menusParrafo {
  font-size: 3rem; }

body > section > div > div > p {
  font-size: 17px; }

.gridNosotros {
  grid-area: gNosotros; }

.fondoFijo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../images/fondofijo1.jfif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 30vh; }

.fondoFijo2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../images/chef.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 60vh; }

.txtNosotros {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.322); }

.pNosotros {
  text-align: center;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.322); }

.contenedorN1padre {
  background-color: #0f0f0f; }

.contenedorN1 {
  margin-top: 5vh;
  margin-left: 10%;
  margin-right: 10%; }

body > section > div:nth-child(2) {
  margin-bottom: 5vh; }

.jello-horizontal {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both; }

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@media screen and (max-width: 480px) {
  .parrafoIndex {
    flex-direction: column; }
  .fotoParrafo {
    width: 80vw;
    height: 105vh;
    margin: 0 auto; }
  .containerParrafo {
    width: 80vw;
    justify-content: center;
    margin: 0 auto; }
  .h1Index {
    margin-top: 3%; }
  /* reservas */
  .reservasForm {
    margin: 15% auto; }
  .fotoParrafo {
    width: auto;
    height: auto; }
  .containerParrafo {
    width: auto; }
  .containerIniciofoto {
    width: auto;
    height: auto; }
  .containerGaleria {
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .fondoMenu {
    background-image: url(../images/menu576.jpg);
    min-width: none;
    background-size: cover; } }

@media (max-width: 900px) {
  .parrafoIndex {
    flex-direction: column; }
  .fotoParrafo {
    margin-left: 0; }
  .fondoMenu {
    background-image: url(../images/menu900.jpg);
    min-width: none; } }

@media (max-width: 768px) {
  .containerGaleria {
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .opcionesMenu {
    flex-direction: column; }
  .divMenus {
    width: 100%; }
  .fondoMenu {
    background-image: url(../images/menu780.jpg);
    min-width: none; } }
