/******************************* Fomulario contacto *******************************/
.containerForm{
    display: flex;
    justify-content: center;
    @include formularios
}
.h1Contactanos{
    color: $colorFuente;
    text-align: center;
}
/******************************* Fomulario reserva*******************************/
.reservasForm{
    @extend .containerForm;
}
.stiloForm{
    width: 100%;
    height: 40px;

}
.txtArea{
    width: 100%;
    height: 20vh;
}
.h1reservas{
    color: $colorFuente;
    text-align: center;
}
.divbotones{
    display: flex;
    justify-content: center;
}
.botonerForm{
    width: 50%;
    height: 40px;
}


/* asssssssssssdddddddddd */

.contenedoresContactanos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.hijoContactanos1{
    background-color: $fondoGris;
    width: 55vw;
    height: 400px;
}
.hijoContactanos2{

}
.contenedorCampos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 13px;
    margin-left: 20px;
    margin-right: 20px;
}
.seccionformulario{
    margin-top: 30px;
    margin-bottom: 30px;
}
form{
    div{
        div{
            textarea{
                height: 200px;
            }
            div{
                display: flex;
                flex-direction: column;
                input{
                    width: 25vw;
                    height: 50px;
                    border: none;
                    border-bottom: 1px solid rgb(139, 139, 139);
                    outline: none;
                    padding-bottom: 5px;
                }
                select{
                    width: 25vw;
                    height: 50px;
                    padding-bottom: 5px;
                    border: none;
                    outline: none;
                }
            }
        }
    }
}
.campoTexto{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}
.infoFormulario{
    background-color: white;
    color: black;
    width: 35vw;
}
.tablaFormulario{
    font-weight: 600px;
    margin-bottom: 30px;
}
tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
}
div.infoFormulario{
    h1{
        font-weight:bold;
        font-size: 2rem;
        text-align: center;
    }
    iframe{
        width: 480px;
        height: 150px;
        margin-left: 5px;
        margin-right: 5px;
    }
}