/******************************* Fomulario contacto *******************************/
.containerForm{
    display: flex;
    justify-content: center;
    @include formularios
}
.h1Contactanos{
    color: $colorFuente;
    text-align: center;
}
/******************************* Fomulario reserva*******************************/
.reservasForm{
    @extend .containerForm;
}
.stiloForm{
    width: 100%;
    height: 40px;

}
.txtArea{
    width: 100%;
    height: 20vh;
}
.h1reservas{
    color: $colorFuente;
    text-align: center;
}
.divbotones{
    display: flex;
    justify-content: center;
}
.botonerForm{
    width: 50%;
    height: 40px;
}