.fotos{
    align-items: center;
    margin: 0 auto;
    border: $fondoGris solid 1px;
    border-radius: 5px;
}
.containerGaleria{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-around;
}
.h1Galeria{
    text-align: center;
}
.h2Recetas{
    @extend .h1Galeria;

}
.bgGaleria{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: rgb(39, 40, 41) 1px solid;
    width: 100%;
    height: 150px;
}