.fondoMenu{
    background-image: url(../images/menu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 5em;
}
.opcionesMenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.158);
    margin-left: 5%;
    margin-right: 5%;
}
.menusTitulos{
    font-weight: bold !important;
    text-align: center;
    color: $colorFuentemenu;
}
.menus{
    text-align: center;
}
hr{
    margin-left: 15%;
    margin-right: 15%;
    border: rgb(223, 219, 10) 2px solid;
}
.divMenus{
    width: 40%;
    margin-bottom: 5%;
}
.menusParrafo{
    font-size: 3rem;
}
body > section > div > div > p{
    font-size: 17px;
}