.gridNosotros{
    grid-area: gNosotros;
}
.fondoFijo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../images/fondofijo1.jfif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 30vh;
}
.fondoFijo2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../images/chef.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 60vh;
}
.txtNosotros{
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.322);
}
.pNosotros{
    text-align: center;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.322);
}
.contenedorN1padre{
    background-color: #0f0f0f;
}
.contenedorN1{
    margin-top: 5vh;
    margin-left: 10%;
    margin-right: 10%;
}
body > section > div:nth-child(2){
    margin-bottom: 5vh;
}